{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
<style>

</style>

<ul>
    {% for property in properties %}
        <li>
            {{ property.name }}

            <table>
                <thead>
                    <tr>
                        <td>Scan ID</td>
                        <td>Date/Time Created</td>
                    </tr>
                </thead>
                <tbody>

                {% for scan in property.propertyScans %}

                    <tr>

                        <td>{{ scan.id }}</td>
                        <td>{{ scan.dateTimeCreated | date('m/d/Y') }}</td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>

        </li>
    {% endfor %}
</ul>
{% endblock %}
